/* Begin Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

* {
	box-sizing: border-box;
}

/* Begin Other Styles */
body {
	width: 100%;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 25px;
}

b {
	font-weight: 700;
}

/* Header Styles */
header {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

header h1 {
	font-family: 'Chelsea Market', cursive;
	display: inline-block;
	margin-bottom: 50px;
	font-size: 4rem;
}

header p {
	text-align: center;
}

.header-links {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.header-image {
	width: 25%;
	border-radius: 50%;
	display: inline-block;
}

.header-text {
	width: 50%;
	display: inline-block;
	position: relative;
}

/* Main Content */
.main-text {
	background-color: #DDB9A3;
	color: white;
	width: 90%;
	margin: 0 auto;
	text-align: justify;
}

.main-text p {
	padding: 1% 3%;
}


.other {
	width: 25%;
	margin: 0 auto;
	font-size: 0.7em;
	text-align: center;
}

.fire {

}

.activities {

}


/* Footer Styles */
footer {
	background-color: #F9E7DC;
}

.footer-image {
	height: 400px;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

.footer-links {
	height: 200px;
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 5%;
}

/* Link Buttons */
a {
	color: white;
	width: 15%;
	padding: 2%;
	border-radius: 20px;
	text-decoration: none;
	text-align: center;
	margin: 5% 1%;
}

.plan {
	background-color: #FF764E;
	display: inline-block;
}

.learn {
	background-color: #5ED3EB;
	display: inline-block;
}

.involve {
	background-color: #FFCD69;
	display: inline-block;
}

/* Images */
.fire-image {
	width: 150px;
}

.camper-image {
	width: 150px;
}